
#name {
	padding-top:20%;
	font-size: 3em;
	color:#0963b7;
	font-family: Elephant;
}
#intro{
	padding-top: 15%;
	margin: auto;
	width: 75%;
}
body {
	overflow: hidden;
}
.highlighted {
    -webkit-box-shadow: 0 0 25px #0963b7;
    -moz-box-shadow: 0 0 25px #0963b7;
    box-shadow: 0 0 25px #0963b7;
}
#landing {
	text-shadow:0 0 0.4em #0963b7;
}
/* auto typing segment--------------------------------------------------- */
/*#caret {
	color: #00EE00;
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	position: relative;
	font-weight: bolder;
	padding-left: 0px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#Greetings {
	text-align:left;
	position: fixed;
	color:white;
	font-family: Consolas,serif;
	font-size: 2.5em;
    width: 100%;
    margin: auto;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; } 
}

@-webkit-keyframes type{
    from { width: 0; }
}*/
/*navigation bar------------------------------------------------------------- */
#navbar {
	z-index:2;
	position: fixed;
	top: 10px;
	right: 0px;
	width: 100%;
	margin:0 auto; 	
}
.nav{/*something wrong with the nav bar when we hover over it. 
	only supposed to widen, but it shifts vertically as well*/
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    top:0%;
}

body {
	background-color: #000;
	text-align: center;
}

.pulsor { 
	display: inline-block; 
	line-height: 50px; 
	margin: 10px;
	width: 50px; 
	height: 50px; 
	border-radius: 50%;
	box-shadow: 0 0 3px #0099CC; 
	background-color: #121212;
	text-shadow: 0 0 5px #0099CC;
	font-family: Futura, sans-serif;
	font-size: 1.15em; 
	font-weight: bold;
	color: #0099CC;
	text-align: center;   
	cursor: pointer; 
}
.pulsor:hover {
    -webkit-animation: pulsate .8s infinite alternate;
    -moz-animation: pulsate .8s infinite alternate;
    -animation: pulsate .8s infinite alternate;
}
.pulsor>a:link {
    text-decoration:none;
    color:#b2beb5;
}
.pulsor>a:visited {
    color:#b2beb5;
}
@-webkit-keyframes pulsate {
    from { box-shadow: 0 0 10px #0099CC; }
    to { box-shadow: 0 0 25px #0099CC; }
}
@-moz-keyframes pulsate {
    from { box-shadow: 0 0 10px #121212; }
    to { box-shadow: 0 0 25px #0099CC; }
}
@keyframes pulsate {
    from { box-shadow: 0 0 10px #121212; }
    to { box-shadow: 0 0 25px #0099CC; }
}
/*fontawesome,scrollspy(bootstrap),hashdown*/
