#bg_img {
	z-index: -1;
	position: fixed;
	bottom: 0px;
	right: -9px;
	/*margin: -7px 0px 0px -20px;*/
}
#intro{
	padding-top: 15%;
	margin: auto;
}
#caret {
	color: #00EE00;
	width: 100%;
	text-align: center;
	font-size: 3em;
}
.Greetings {
	text-align:center;
	color:blue;
	font-family: Consolas,serif;
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}
#navbar {
	z-index:2;
	position: fixed;
	top: 10px;
	right: 0px;
	width: 100%;
	margin:0 auto; 	
}
.nav{/*something wrong with the nav bar when we hover over it. 
	only supposed to widen, but it shifts vertically as well*/
    
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    top:0%;

}
.links{
    margin:0px auto;
	display:inline;
	/*border: 2px solid #000000;*/
	font-family: Futura, serif;
	color: #b2beb5;
	border-radius: 35%;
	background-color: #36454f;
	font-size: 1.15em;
}
.links a{
    display:inline-block;
    text-decoration:none;
}
.links>a:link {
    text-decoration:none;
    color:#b2beb5;
}
.links>a:hover {
    color:white;
}
.links>a:visited {
    color:#b2beb5;
}
/*fontawesome,scrollspy(bootstrap),hashdown*/